<table class="table table-striped">
    <thead>
    <tr>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>编辑</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data">
        <td><input type="text" ng-model="item.name" ng-blur="update(item.id,'name',item.name)"></td>
        <td><input type="text" ng-model="item.sex" ng-blur="update(item.id,'sex',item.sex)"></td>
        <td><input type="text" ng-model="item.age" ng-blur="update(item.id,'age',item.age)"></td>
        <td>
            <a href="javascript:;" class="del"ng-click="del(item.id)">删除</a>
        </td>
    </tr>
    <tr class="wdbAdd" ng-click="add()">
        <td colspan="4">
            <a href="#!/addInfo"><button type="button" class="btn btn-info">
                新增信息
            </button></a>
        </td>
    </tr>
    </tbody>
</table>
<div class="xiaoguo" ng-show="isshow==true"></div>